
@{
    ViewBag.Title = ViewBag.VersionName;
}

<div class="row" style="margin-top: 20px">
    <label style="font-size: 40px; float: left">@ViewBag.VersionName</label>
    <a href="#" class="btn btn-primary" style="float: right;margin-right: 5px">下载软件</a>
    <a href="#" class="btn btn-default" style="float: right; margin-right: 5px">查看手册</a>
</div>
<div class="row">
    <h3>更新内容详情</h3>

</div>

