@model SimplePublishingPlatform.ViewModels.SoftwareVersionViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container" style="text-align: center">
        <h1>@Model.VersionName 正式发布</h1>
        <p class="lead">发布日期：@Model.PublishTime.ToShortDateString()</p>
        <br/>
        <p>
            <a href="#" class="btn btn-primary btn-lg">立即获取 &raquo;</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>更新内容</h2>
        <p>
            @Model.Description
        </p>
        <p><a class="btn btn-default" href="#">了解详情 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>使用手册</h2>
        <p>想完整了解网管使用，请点击了解详情</p>
        <p><a class="btn btn-default" href="#">了解详情 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>联系我们</h2>
        <p>我有句话不知当讲不当讲</p>
        <p><a class="btn btn-default" href="#">讲™的 &raquo;</a></p>
    </div>
</div>