@{
    ViewBag.Title = "发布";
}

<div class="row" style="margin-top: 10px">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="usedrepertoryname">版本名称</label>
            <input type="text" class="form-control input-sm" name="usedrepertoryname" id="usedrepertoryname" value="@ViewBag.RepertoryName" readonly="readonly" />
        </div>
        <div class="form-group">
            <label class="control-label" for="updateDescription">更新内容描述</label>
            <textarea style="max-width: none" class="form-control" id="updateDescription" placeholder="请输入更新内容简要描述，最多500字" maxlength="500" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="manual_file">使用手册</label>
            <input type="file" class="form-control" name="manual_file" id="manual_file"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="setup_file">安装包</label>
            <input type="file" class="form-control" name="setup_file" id="setup_file"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="publishckedit">更新内容详情</label>
            <textarea style="max-width: none" id="publishckedit"></textarea>
        </div>

        <button class="btn btn-primary pull-right" onclick="publishversion(this)">发布</button>
    </form>
</div>

@Styles.Render("~/Content/bootstrap-fileinputcss")
@Scripts.Render("~/bundles/bootstrap-fileinput")
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/config.js"></script>
<script src="/Scripts/myscrips/myfileinput.js"></script>

<script type="text/javascript">
    var repertory = '@ViewBag.RepertoryName';
    //初始化上传框
    var fileinput = new FileInput();
    fileinput.Init("manual_file", '/Upload/UploadFile?repertoryName=' + repertory + '&secondDir=使用手册');
    fileinput.Init("setup_file", '/Upload/UploadFile?repertoryName=' + repertory + '&secondDir=安装包');
    //初始化编辑框
    CKEDITOR.replace('publishckedit',
        {
            filebrowserUploadUrl: '/Upload/Upload?repertoryName=' + repertory,
            filebrowserImageUploadUrl: '/Upload/Upload?repertoryName=' + repertory
        });
</script>
